// Custom Variable
@import './variables';
@import './mixins';
@import './functions';

// Vuetify class overide
.container {
  width: 100%;
  padding: 12px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: $md) {
  .container {
    max-width: 900px;
  }
}
@media (min-width: $lg) {
  .container {
    max-width: 1185px;
  }
}
@media (min-width: $xl) {
  .container {
    max-width: 1440px !important;
  }
}

.v-app-bar {
  @include shadow-lg;
}

.v-navigation-drawer {
  @include shadow-lg;
  &.read--mode:not(.v-navigation-drawer--is-mobile) {
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
  }
  
  .v-navigation-drawer__border {
    display: none !important;
  }
}

.v-pagination__item, .v-pagination__navigation {
  box-shadow: none !important;
  outline: none !important;
}

.v-list {
  * {
    transition: $transition-bg-theme !important;
  }
}

.v-text-field--outlined, .v-text-field--solo {
  border-radius: 0 !important;
}

.hide-detail {
  .v-text-field__details {
    display: none !important;
  }
}

.v-application {
  font-family: 'Inter', 'Roboto', sans-serif !important;
  &.focus-invisible {
    *:not(a) {
      outline: none;
    }
  }
}

// Fonts
h1 {
  font-weight: 600;
  font-size: 4rem; // 64px
  letter-spacing: -0.25px;
  line-height: 1.125;
}
h2 {
  font-weight: 500;
  font-size: 2.75rem; // 44px
  letter-spacing: -0.5px;
  line-height: 1;
}
h3 {
  font-weight: 500;
  font-size: 2rem; // 32px
  line-height: 1.125;
}
h4 {
  font-weight: 500;
  font-size: 1.5rem; // 24px
  line-height: 1.167;
}
h5 {
  font-weight: 500;
  font-size: 1.25rem; // 20px
  line-height: 1.125;
}
h6 {
  font-weight: 500;
  font-size: 1.125rem; // 18px
  // line-height: 1.125;
}
a {
  font-size: 14px;
}
p {
  font-size: 14px;
  &.xl {
    font-weight: 300;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 4%;
  }
  &.lg {
    font-size: 16px;
    * {
      font-size: 16px;
    }
  }
  &.sm {
    font-size: 13px;
  }
}
label {
  font-size: 13px !important;
}
input {
  font-size: 13px !important;
}

@media screen and (max-width: $md) {
  h1 {
    font-size: 3rem; // 48px
  }
  h2 {
    font-size: 2.5rem; // 40px
  }
}
@media screen and (max-width: $sm) {
  h1 {
    font-size: 2.5rem; // 48px
  }
  h3 {
    font-size: 1.75rem;
  }
  p {
    font-size: 13px;
    &.sm {
      font-size: 12px;
    }
    &.lg {
      font-size: 14px;
    }
    &.xl {
      font-size: 16px;
    }
  }
  a {
    font-size: 13px;
  }
}
